.card {
    width:100%;
    min-width:200px;
    margin-bottom: 20px;
}
.container-fluid{
    margin-bottom: 20px;
}
.footer{
    background-color: black;
    color: white;
    padding: 10px;
}